.rudy{
    border: solid 2px black;
    padding: 5px 15px;
    margin: 15px 5px;;
}
.account{
    border: solid 2px black;
    padding: 5px 15px;
    margin: 15px 5px;
}
.question{
    font-weight: bold;
    width: max-content;
    margin-top: -15px;
    margin-bottom: 10px;
    background: white;
    padding: 0px 5px;

}