body {
    background-color: lightblue;
}
h1 {

}
h2{
    color: blue;
    font-size: 30px;
    font-family: "Britannic Bold";

}
p{ font-family: "Britannic Bold";
    font-style: normal;
    font-size: 12px;

}
h3{
    color: blue;
}

