Form{

    border: 2px solid;
    border-radius: 5px;
    background-color: mediumpurple;
    width: 400px;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;

}
#submit{
    background-color: pink;
}
#validator{
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 50%;
}
a{
    color: red;

}
.legend{
    font-size: 10px;
}
.copy-right{
    font-size: 12px;
    box-sizing: border-box;
    width: 400px;


}