
h5 { background-color: yellow;
    font-style: italic;

}
h2{ font-weight: normal;
    text-decoration: underline;
    background-color: #F0F0F0;
    color: #A4A400;
    font-family:Arial ;
    font-size: 18pt;
    text-align: left;
}
body{
    color:  #404040;
    background-color: white;
    font-size: 11pt;
    font-family: Georgia;
}
a{
    color:#A4A400 ;
    text-decoration: underline;
}

h1{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    background-color: #F0F0F0;
    color: #A4A400;
    font-family:Arial ;
    font-size: 22pt;
}