
h5 {
    background-color: #ffffA8;
    font-style: italic;
    font-weight: normal;
    width: max-content;
}
h2{ font-weight: normal;
    text-decoration: underline;
    background-color: #F0F0F0;
    color: #A4A400;
    font-family:Arial ;
    font-size: 18pt;
    text-align: left;
    width: max-content;
}
body{
    color:  #404040;
    background-color: white;
    font-size: 11pt;
    font-family: Georgia;
}
a{
    color:#A4A400 ;
    text-decoration: underline;
}
ul.leaf {
    list-style-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif");
}
p.copyrights {
    font-family: monospace;
    text-align: right;
    font-size:small ;
}
.comments {
    padding-left: 40px;
    padding-right: 25px;
}
.links {
    width: 30%;
}


h1{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    background-color: #F0F0F0;
    color: #A4A400;
    font-family:Arial ;
    font-size: 22pt;

}